/* @theme muncaster */

@import "default";

@font-face {
  font-family: "Tilt Warp";
  src: url("/themes/fonts/Tilt_Warp/TiltWarp-Regular-VariableFont_XROT\,YROT.ttf")
    format("truetype");
}

:root {
  --bg: white;
  --bg-accent: rgb(205, 215, 214);
  --accent: rgb(248, 112, 96);
  --text: rgb(39, 45, 45);
  --text-light: rgb(184, 197, 214);
  --header-bg: rgb(179, 163, 148);
  --dark-blue: rgb(16, 37, 66);
  font-family: "Roboto", "Segoe UI", "Liberation Sans", "Helvetica", "Arial",
    sans-serif;
  background-color: var(--bg-accent);
}

:root h1,
h2,
h3 {
  font-family: "Tilt Warp", "Roboto", "Segoe UI", "Liberation Sans", "Helvetica",
    "Arial", sans-seri;
}

:root h1 strong {
  color: var(--accent);
}

:root h2 strong {
  color: var(--accent);
}
